# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\pthon_project\JS_program\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
